.login_form {
    margin-bottom: 40px;
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login_lable {
    margin-left: 40px;
    font-size: 20px;
    align-items: center;
  }
  .login_lable:first-of-type{
    margin-left: 0;
  }
  .login_input {
    padding: 8px 14px;
    margin-left: 15px;
    border-radius: 4px;
    border: 1px solid #555;
  }

  .login_input:focus {
    border: 1px solid #555;
    background-color: rgb(185, 217, 227);
  }
  .login_btn {
    background-color: #04aa6d;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    padding: 10px 15px;
    text-decoration: none;
    margin: 4px 20px;
    cursor: pointer;
  }
  .login_btn:hover,
  .login_btn:focus {
    background-color: #039560;
  }
  .login_btn:active {
    box-shadow: 3px 3px 3px 0px rgba(55, 54, 54, 0.3);
  }
  